header {
  text-align: center;
}

main {
  margin: 20px;
}

li, p {
  font-size: 20px;
}

button {
  background: none repeat scroll 0 0 transparent;
  border: 1px solid black;
  color: black;
  font-family: 'PT Sans Narrow',sans-serif;
  font-size: 16px;
}


/* Task 1 */
a {
  color: saddlebrown;
  text-decoration: none;
  text-transform: uppercase;
}

a:link {
  color: red;
}
a:hover {
  color: orange;
}

a:visited {
  color: saddlebrown;
}

a:active {
  color: blue;
}
/* Task 2 */
button:active {
  color: blue;
  background-color: saddlebrown;
}
button:hover {
  color: orange;
  background-color: green;
}


/* Task 3 */
p::first-letter {
  font-size: 200%;
  color: saddlebrown;
}
/* Task 4 */